header nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 125, 126, 0.068);
  padding: 10px; }
  header nav nav {
    display: flex; }
    header nav nav h1 {
      color: #f76880; }
    header nav nav nav h3 {
      color: #f76880; }
    header nav nav ul {
      list-style: none;
      display: flex; }
      header nav nav ul li a {
        text-decoration: none;
        color: #4b0813;
        font-weight: 700;
        font-size: 18px;
        margin: 20px; }

/*main-index*/
.hero {
  width: 100%;
  height: 100vh;
  /*background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(255, 0, 0, 0.274)), url(../images/aritos.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4b0813; }
  .hero h1 {
    font-family: 'PT Mono', monospace;
    font-weight: 400px;
    font-size: 80px;
    /*line-height: 80px*/
    border: 2px solid #4b0813;
    padding: 20px; }
  .hero a {
    text-decoration: none;
    color: #f76880;
    background-color: #500713;
    padding: 10px; }

.productos {
  margin-top: auto;
  text-align: center; }
  .productos > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; }
    .productos > div h2 {
      background-color: black;
      color: white;
      width: 100%;
      text-align: center;
      padding: 15px; }
    .productos > div div div {
      border: 1px solid gray;
      width: 300px;
      height: 400px;
      text-align: center;
      background-color: #500713;
      color: #f76880;
      margin-top: 20px; }
      .productos > div div div div div img {
        width: 100%;
        height: 300px; }
        .productos > div div div div div img div h3 {
          margin-bottom: 10px; }
        .productos > div div div div div img div a {
          text-decoration: none;
          color: black;
          background-color: white;
          font-weight: 900;
          padding: 5px; }

.galeria {
  width: 100%;
  height: 1100px;
  margin-top: 40px;
  display: grid;
  grid-auto-rows: 300px;
  gap: 15px;
  justify-content: center;
  justify-items: center;
  align-items: baseline;
  grid-template-columns: repeat(3, 1fr); }
  .galeria .galeria div img {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    object-fit: cover;
    grid-auto-rows: 250px;
    gap: 15px; }

/*main-Productos*/
/*main-Nosotros(boostrap)*/
/*main-Galeria*/
/*main-Contactos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 3000px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: linear-gradient(rgba(253, 1, 211, 0.4), rgba(38, 0, 255, 0.4)), url(../images/fondo.jpg);
  /* background: url(../images/fondo.jpg); */
  background-size: contain; }

/*--footer en todas las paginas Boostrap*/
/*media query--*/
@media screen and (max-width: 950px) {
  .body {
    height: 2700px; }
    .body .galeria {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      justify-content: center;
      align-content: center; }
    .body .grid-container {
      grid-column: span;
      grid-row: span; } }

@media screen and (max-width: 675px) {
  header nav {
    flex-direction: column;
    height: 2500px;
    grid-template-columns: repeat(1, 1fr); }
    header nav h2 {
      font-size: 50px; }
  .main {
    height: 2000px; }
    .main .galeria {
      grid-template-columns: repeat(1fr);
      grid-auto-rows: auto; } }

@media screen and (max-width: 579px) {
  header nav ul {
    flex-direction: column;
    text-align: center; }
    header nav ul nav {
      height: auto; }
  .galeria {
    height: 2700px;
    grid-template-columns: repeat 1, 1fr;
    grid-auto-rows: auto; } }

@media screen and (max-width: 450px) {
  .galeria {
    width: 100%;
    height: 2700px;
    grid-template-columns: 1, 1fr;
    grid-auto-rows: auto; }
  .hero h1 {
    font-weight: 200px;
    font-size: 40px; } }
